/* 改变滑块轨道的颜色 */
.custom-range::-webkit-slider-runnable-track {
  background: #e6e6e6; /* Bootstrap Primary 蓝色 */
}

/* .custom-range::-moz-range-track {
  background: #ffffff;
}

.custom-range::-ms-track {
  background: #ffffff;
} */

/* 改变滑块（拇指）的颜色 */
.custom-range::-webkit-slider-thumb {
  background: #ffffff; /* Bootstrap Success 绿色 */
  border: none; /* 移除边框 */
}

/* .custom-range::-moz-range-thumb {
  background: #ffffff;
}

.custom-range::-ms-thumb {
  background: #912222;
} */

/* 可选：改变滑块激活（聚焦）时的轮廓颜色 */
.custom-range:focus::-webkit-slider-runnable-track {
  outline: none; /* 移除轮廓 */
}

.custom-range:focus {
  outline: none;
  box-shadow: none; /* 移除阴影 */
}
